<h1 class="my-4">List of All Events</h1>
<div class="list-group">
  <% @events.each do |event| %>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%=link_to event.name, event_path(event) %></h5>
        <small>by <%= event.creator.name %></small>
      </div>
    </div>
  <% end %>
</div>
